/* Pour construire le menu en mobile : 
On construit le menu tel qu'il sera une fois ouvert.
On ajoute les propriétés "visibility: hidden" et "opacity: 0" pour masquer le menu. */
.menu {
  position: fixed; /* Fixe le menu en position, il ne défilera pas avec la page : https://developer.mozilla.org/fr/docs/Web/CSS/position#fixed */
  background-color: #ffffff; /* Définit la couleur de fond du menu en blanc : https://developer.mozilla.org/fr/docs/Web/CSS/background-color */
  display: flex; /* Utilise Flexbox pour la mise en page des éléments enfants : https://developer.mozilla.org/fr/docs/Web/CSS/display-inside#flex */
  top: 0; /* Positionne le menu en haut de la page : https://developer.mozilla.org/fr/docs/Web/CSS/top */
  bottom: 0; /* Étend le menu jusqu'en bas de la page */
  left: 0; /* Positionne le menu à gauche de la page */
  right: 0; /* Étend le menu jusqu'à droite de la page */
  transition: all 0.4s ease-in-out; /* Définit une transition de 0.4 secondes pour toutes les propriétés, avec un effet d'accélération et de décélération : https://developer.mozilla.org/fr/docs/Web/CSS/transition */
  opacity: 0; /* Rend le menu complètement transparent : https://developer.mozilla.org/fr/docs/Web/CSS/opacity */
  visibility: hidden; /* Cache le menu en le rendant invisible : https://developer.mozilla.org/fr/docs/Web/CSS/visibility#hidden  */
  padding-left: 30px; /* Ajoute un espacement à gauche pour décaler le contenu vers la droite */
}
/* On se sert de Javascript pour gérer l'ouverture et la fermeture du menu avec l'attribut "aria-hidden" */
.menu[aria-hidden="false"] {
  visibility: visible; /* Rend le menu visible */
  opacity: 1; /* Rend le menu complètement opaque */
}

/* On ajoute une classe sur le body pour empêcher le scroll lorsque le menu est ouvert */
.noscroll {
  overflow: hidden; /* Empêche le défilement de la page (hidden) */
}

/* Mise en forme du bouton de menu "Hamburger" */
.menu-btn {
  position: relative; /* Positionne le bouton par rapport à son conteneur parent */
  z-index: 3; /* Assure que le bouton est au-dessus des autres éléments */
  width: 9px; /* Définit la largeur du bouton à 30px */
  transition: all 0.4s ease-in-out; /* Ajoute une transition de 0.4 secondes pour toutes les propriétés, avec un effet d'accélération et de décélération */
}

.header__menu-btn {
  background: none; /* Supprime le fond par défaut du bouton */
  border: none; /* Supprime la bordure par défaut du bouton */
  cursor: pointer; /* Change le curseur en pointeur lors du survol du bouton */
  padding: 0; /* Supprime le padding par défaut du bouton */
  margin-left: 20px; /* Décale le bouton vers la droite */
}
/*
  "aria-expanded" géré par JavaScript pour l'ouverture et la fermeture.
 */
.menu-btn[aria-expanded="true"] {
  transform: rotate(
    90deg
  ); /* Fait pivoter le bouton de menu de 90 degrés lorsqu'il est en état "expanded" */
}

.menu__link {
  text-decoration: underline;
  color: #000000;
  border-radius: px;
  transition: background-color 0.25s ease, color 0.25s ease, transform 0.25s ease, box-shadow 0.25s ease;
}

.menu__list {
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.menu__link:hover {
  background-color: #046feae2; /* léger fond bleu */
  color: #ffffff; /* texte bleu plus foncé */
  box-shadow: 0 1px 3px rgba(5, 15, 195, 0.625); /* petite ombre douce */
  transform: translateY(-5px); /* effet de léger “soulevé” */
}